$ffHeading: Helvetica, Arial, sans-serif;
$ffSansSerif: Helvetica, Arial, sans-serif;
$ffSerif: 'Poly', 'Times New Roman', Times, serif;
$ffMonospace: 'Source Code Pro', 'Lucida Console', Monaco, monospace;

$fwLight: 300;
$fwNormal: 400;
$fwMedium: 500;
$fwSemiBold: 600;
$fwBold: 700;
$fwExtraBold: 800;

$nearBlack: #272727;
$darkerGrey: #4a4a4a;
$darkGrey: #6d6d6d;
$paleGrey: #b5b5b5;
$nearWhite: #f1f1f1;
$blue: #5474dc;
$lightBlue: #c5d0f3;

$phone: 519px;
$tablet: 768px;
$desktop: 960px;
$largeDesktop: 1080px;
