@import "../../styles/variables.scss";


.course-item {
  display: block;
  background-color: $nearWhite;
  font-size: 10pt;
  line-height: 1.25;
  
  &.course-item-header {
    font-size: 11pt;
    font-weight: bold;
  }

  td {
    padding: 8px;

    &.title {
      width: 360px;
      text-align: left;
    }

    &.external-link {
      width: 16px;
    }

    &.trimester, &.pool {
      width: 60px;
      text-align: center;
    }
  }

  .action-btn {
    border: 0;
    padding: 8px;
    cursor: pointer;
    
    svg {
      width: 16px;
      height: 16px;
      fill: $nearBlack;
    }

    &:active {
      background-color: $nearBlack;

      svg {
        fill: $nearWhite;
      }
    }
  }
}