@import "../../styles/variables.scss";


.course-item {
  display: block;
  background-color: $nearWhite;
  font-size: 10pt;

  &.course-item-header {
    font-weight: bold;
  }

  td {
    padding: 8px;
  }

  .action-btn {
    border: 0;
    padding: 8px;
    cursor: pointer;
    
    svg {
      width: 16px;
      height: 16px;
      fill: $nearBlack;
    }

    &:active {
      background-color: $nearBlack;

      svg {
        fill: $nearWhite;
      }
    }
  }

  .title {
    width: 360px;
    text-align: left;
  }

  .trimester, .pool {
    width: 60px;
    text-align: center;
  }
}